@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/arrow-right-r.css');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/arrow-left-r.css');

body {
    background-image: linear-gradient(90deg, #860000 0%, black 50%, #860000 100%);
    background-attachment: fixed;
    user-select: none;
    overflow-y: scroll;
    font-family: 'Roboto', sans-serif;
    min-width: 300px;
}

body::-webkit-scrollbar {
    display: none;
}

/* text styles */

.title {
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 40px;
}

.link-title {
    color: white;
    margin: 50px auto;
    transform: translate(0, 50px);
    font-size: 20px;
    transition: text-shadow 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.highlight {
    color: #860000;
}

.highlight.important {
    color: red;
}

.highlight.warning {
    color: yellow;
}

p {
    color: white;
    font-weight: bolder;
}

a {
    color: rgb(66, 66, 255);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* containers */
.navigation-bar {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    background-color: rgba(0, 0, 0, 0.503);
    justify-content: center;
    width: fit-content;
    height: 100px;
    align-items: center;
    border: 2px solid white;
    border-radius: 20px;
    padding: 5px 30px;
}

.link-card {
    background-color: #8600006b;
    background-position-y: center;
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center 15px;
    width: 300px;
    height: 200px;
    margin: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: 500ms ease-in-out;
}

.link-card:hover {
    box-shadow: inset 0px 0px 20px rgba(255, 255, 255, 0.5);

    .link-title {
        font-size: 35px;
        transform: translate(0px, 0px);
        text-shadow: 0px 0px 5px #860000, 0px 0px 10px #E64B4B, 0px 0px 15px #E64B4B, 0px 0px 20px #E64B4B;
    }
}

#links {
    display: flex;
    background-color: rgba(0, 0, 0, 0.584);
    max-width: 1000px;
    padding: 10px;
    height: auto;
    flex-wrap: wrap;
    margin-bottom: 20px;
    border-radius: 15px;
    justify-content: center;
    cursor: pointer;
}

.popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    display: none;
}

.popup .timeline-section {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup .timeline-section:hover {
    cursor: zoom-out;
}

.popup .timeline-heading {
    font-size: 40px;
}

.popup .timeline-section p {
    font-size: 25px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box.about p {
    font-size: 22px;
}

.box.links {
    transition: 500ms;
}

.box.main {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    row-gap: 2px;
}

.box.works {
    row-gap: 10px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.timeline-section {
    background-color: rgb(73, 0, 0);
    box-shadow: inset 0px 0px 30px rgba(0, 0, 0, 0.5);
    padding: 20px;
    max-width: 1000px;
    width: auto;
    margin-top: 20px;
    border-radius: 10px;
    transition: 300ms;
}

.timeline-section p {
    font-size: 20px;
    margin-top: 20px;
}

.timeline-section:hover {
    box-shadow: inset 0px 0px 30px white;
    cursor: zoom-in;
}

.timeline-heading {
    color: #E64B4B;
    text-shadow: 1px 1px 5px #860000;
}

/* buttons */
button {
    cursor: pointer;
}

button.primary {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
    height: 80px;
    width: max-content;
    min-width: 300px;
    font-size: 20px;
    text-transform: uppercase;
    background-color: transparent;
    color: white;
    border: solid white 3px;
    transition: 0.4s ease-in-out;
}

button.primary:hover {
    box-shadow: inset 0px 0px 30px 0px white;
    color: red;
    border: solid red 4px;
    background-color: rgba(255, 255, 255, 0.218);
}

button.primary:active {
    background-color: #4e0000;
    transition: 0s;
}

button.secondary {
    color: white;
    background-color: transparent;
    border: solid white 3px;
    border-radius: 20px;
    width: 300px;
    height: 70px;
    font-size: 15px;
    font-weight: 1000;
    text-transform: uppercase;
    transition: 0.4s ease-in-out;
    transition-property: background-color, color;
    text-align: center;
}

button.secondary:hover {
    background-color: white;
    color: red;
}

.imageButton {
    background-color: transparent;
    border: solid white 10px;
    width: 90vw;
    height: 500px;
    background-position: center;
    position: relative;
    transition: 0.5s ease-in-out;
    transition-property: box-shadow, background-color;
    margin: 10px;
    background-color: #0000003e;
}

.imageButton::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: var(--preview-image);
    background-size: cover;
    background-position: center;
    z-index: -1;
    filter: blur(5px)
}

.imageButton:hover {
    box-shadow: inset 0px 0px 50px white;
}

.imageButton:active {
    background-color: rgba(255, 255, 255, 0.217);
    transition: 0s;
}

.imageButton h1 {
    color: white;
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 900;
    text-wrap: wrap;
    position: relative;
    z-index: 1;
}

.imageButton h2 {
    color: white;
    font-size: 20px;
    font-weight: 900;
    text-wrap: wrap;
    position: relative;
    z-index: 1;
}

.logo {
    width: 350px;
    height: 350px;
    border-radius: 50px;
    box-shadow: 0px 0px 50px red, 0px 0px 10px gray;
    margin-bottom: 20px;
    background-color: white;
    outline: solid transparent;
    transition: 0.5s ease-in-out;
}

.logo:hover {
    box-shadow: 0px 0px 50px red, 0px 0px 20px white;
    outline: solid rgba(255, 255, 255, 0.396);
    outline-offset: 10px;
}

.loader {
    width: 150px;
    height: 150px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    border-width: 20px;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.loading-screen {
    position: fixed;
    left: 0px;
    top: 0px;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: 500ms;
    background-color: rgba(0, 0, 0, 0.318);
    z-index: 1;
    cursor: not-allowed;
    transition: 0.3s all;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 600px) {

    .imageButton h1,
    .imageButton h2 {
        scale: 0.8;
    }
}

@media only screen and (max-width: 350px) {

    .imageButton h1,
    .imageButton h2 {
        scale: 0.7;
    }
    .link-card {
        width: 200px;
    }

    #links {
        width: 50px;    
    }
}

@media only screen and (max-height: 600px) {
    .logo {
        width: 220px;
        height: 220px;
    }

    button.primary {
        min-width: 190px;
        height: 50px;
        font-size: 13px;
    }

    .link-card {
        margin: 5px;
    }
}