/* Media Queries */

/* Small Screens */
@media only screen and (max-width: 600px) {
}

/* Extra Small Screens */
@media only screen and (max-width: 350px) {
    .link-card {
        width: 200px;
    }

    #links {
        width: 50px;
    }
}

/* Low Height Screens */
@media only screen and (max-height: 600px) {
    .logo {
        width: 220px;
        height: 220px;
    }

    button.primary {
        min-width: 100px;
        height: 50px;
        font-size: 13px;
    }

    .link-card {
        margin: 5px;
    }
}